[alias]
    ci = commit
    cia = commit --amend -C HEAD
    co = checkout
    br = branch
    st = status
    lg = log --name-status
    l1 = log --name-status -n 1
    l2 = log --name-status -n 2
    l3 = log --name-status -n 3
    l4 = log --name-status -n 4
    lp = log -p -n 1
    d  = diff
    dc = diff --cached
    au = add -u

[color]
    diff = auto
    branch = auto
    status = auto
    interactive = auto

[core]
    excludesfile = "~/.gitignore_global"

[i18n]
    commitencoding = utf-8

[push]
    default = tracking

[include]
    path = "~/.gitconfig.local"
