[alias]
    ci = commit
    cia = commit --amend -C HEAD
    co = checkout
    br = branch
    st = status
    lg = log --name-status
    l1 = log -n 1
    l2 = log -n 2
    l3 = log -n 3
    l4 = log -n 4
    lp = log -p -n 1
    d  = diff
    dc = diff --cached

[color]
    diff = auto
    branch = auto
    status = auto
    interactive = auto
    sh = auto

[color "sh"]
    branch = green
    workdir = blue bold
    dirty = red

[core]
    excludesfile = "~/.gitignore_global"

[i18n]
    commitencoding = utf-8

[push]
    default = tracking

[user]
	name = ykskm
	email = ykskm9@gmail.com

